@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #3377ff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}
a.active {
    color: #3377ff;
    border-bottom: 3px solid #3377ff; 
}
nav a {
    font-size: 1.8rem;
    color: #3377ff;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: white;
    border-bottom: 3px solid white;
}

@media(max-width:995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #3377ff;
        border-bottom: 3px solid #3377ff;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid white;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color:#3377ff;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50px;
    box-shadow: 0 0 25px solid #3377ff;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons {
    display: flex;
    justify-content: center;  
    align-items: center;     
    gap: 2rem;                
    margin-top: 3rem;         
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #3377ff;
    font-size: 2.5rem;  
    border-radius: 50%;
    transition: 0.3s ease;
    color: #3377ff; 
}

.social-icons a i {  
    color:#3377ff;  
}

.social-icons a:hover {
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #3377ff;
    box-shadow: 0 0 25px #3377ff;
}

.social-icons a:hover i {
    color: white;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: white;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #3377ff;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #3377ff ;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #3377ff;
    color: black;
    box-shadow: 0 0 25px #3377ff;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: #3377ff;
    animation: words 10s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid #3377ff;
    }
}

@keyframes words {
    0%, 20% {
        content: "Web Developer";
    }
    21%, 40% {
        content: "Web Designer";
    }
    41%, 60% {
        content: "Competitive";
    }
    61%, 80% {
        content: "Gamer";
    }
    81%, 100% {
        content: "Song Writer";
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

#about {
    text-align: center;
    color: white;
    padding: 4rem;
}

#about h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #3377ff;
}

#about p {
    font-size: 1.6rem;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
}

#contact {
    text-align: center;
}

#contact h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #3377ff;
}

#contact p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 2rem;
    text-align: left;
}

.input-group label {
    font-size: 1.4rem;
    color: white;
    display: block;
    margin-bottom: 0.5rem;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
    color: white;
}

textarea {
    height: 150px;
    resize: none;
}

button[type="submit"] {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #3377ff; 
    color: white;
    border-radius: 4rem;
    font-size: 1.6rem;
    border: 2px solid #3377ff;  
    cursor: pointer;
    transition: 0.3s ease;
}

button[type="submit"]:hover {
    background-color: white;
    color: #3377ff;  
    box-shadow: 0 0 25px #3377ff; 
}

button[type="submit"]:active {
    background-color: white;  
    color: #3377ff;  
    box-shadow: none; 
}

.services {
    margin-top: 10rem;
}

.services-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.service-item {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.service-item:hover {
    background-color: #4c00ff;
    transform: translateY(-10px);
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.service-item h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #3377ff;
}

.service-item p {
    font-size: 1.4rem;
    color: white;
}
#skills {
    padding: 30px 300px;
    text-align: center;  
}

#skills h2 {
    font-size: 4rem; 
    font-weight: 700; 
    margin-bottom: 2rem;  
    color: #3377ff;  
}

.skills-list {
    display: flex;
    flex-direction: column;  
    gap: 40px;  
    margin-top: 50px;
}

.skill-item {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3377ff;  
}

.skill-item i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #3377ff; 
}

.skill-item h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #3377ff;  
}

.skill-item p {
    font-size: 14px;
    color: white;  
}

.skill-item:hover {
    background: linear-gradient(#4c00ff, #ff00e6);
    transform: translateY(-10px);
}

.skills-list .first-item {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
    color: #3377ff; 
}

.skills-list .first-item i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #3377ff; 
}

.skills-list .first-item h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #3377ff;  
}

.skills-list .first-item p {
    font-size: 14px;
    color: #3377ff;  
}

.skills-list .first-item:hover {
    background: linear-gradient(#4c00ff, #ff00e6);
    transform: translateY(-10px);
}

input[type="file"] {
    margin-top: 100px;
    padding: 20px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    border: 1px solid #3377ff;
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
}

input[type="file"]:hover {
    background-color: #4c00ff;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
    background: #3377ff;
    color: white;
    border: 1px solid #3377ff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #4c00ff;
}
